@model LoginAuthenticateMVC.Models.tblUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>L.O.G.I.N</title>
    <style>
        #login-div{
            position:absolute;
            left:40%;
            top:40%;
            border:1px solid #ccc;
            padding:10px 10px;
        }
        .field-validation-error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                    </td>
                    <td style="text-decoration:underline">
                        LOGIN MVC
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model=>model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="Login" />
                        <input type="reset" value="Clear" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
